@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0px 100px;
  height: 45vh;
}

.logo {
  margin-top: 10px;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.header-text {
  height: 35vh;
  margin-top: 40px;
}
.text {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  color: #f9faf8;
  width: 350px;
  padding-right: 45px;
}

.text :first-child {
  font-size: 32px;
  font-weight: bold;
}

.text :nth-child(2) {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
}

ul.flex {
  gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.placeholder {
  width: 300px;
  height: 150px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.box {
  border: solid 2px blue;
  height: 125px;
  width: 125px;
  border-radius: 5px;
}

main .container {
  margin-top: 50px;
  text-align: center;
}

main div:nth-child(1) {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
}
