@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0px auto;
  height: 45vh;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.header-text {
  height: 35vh;
  margin-top: 40px;
}
.text {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  color: #f9faf8;
  width: 800px;
}

.text :first-child {
  font-size: 48px;
  font-weight: bold;
}

.text :nth-child(2) {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-top: auto;
}

ul {
  list-style: none;
}

ul.flex {
  gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.placeholder {
  width: 600px;
  height: 250px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.box {
  border: solid 2px blue;
  height: 125px;
  width: 125px;
  border-radius: 5px;
  margin: 0px auto 0px auto;
}

main .container {
  margin-top: 50px;
  text-align: center;
}

.random_info {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.container .random p {
  padding: 0px 5px;
}

.quote {
  height: 45vh;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 0px 100px 0px 100px;
  flex-direction: column;
}

.quote :nth-child(2) {
  padding-left: 200px;
}

.call_action {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.call_action_box {
  background-color: #3882f6;
  padding: 35px 75px 35px 75px;
  border-radius: 5px;
  color: white;
}

.call_action_box .button {
  border: 1px solid white;
  margin-left: 10px;
}

footer {
  background-color: #1f2937;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
